<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesmain.css">
    <script src="script.js" defer></script>
    <title>Barbería UniStyles</title>
    <script src="/js/inicio.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'es', 
                includedLanguages: 'en,es,fr,it,ca,de',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div id="google_translate_element"></div>
    <header>
        <div class="caja">
            <h1><img class="logo" src="IMAGENES/logo.jpg"></h1>
            <nav>
                <ul>
                    <li><a href="mainfinal.html">Home</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="login.html">Iniciar Sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
        <main>
        <section class="contenido-centralizado">
            <h2 class="titulo-principal">Sobre la Barbería UniStyles</h2>
            <img class="utensilios" src="IMAGENES/utensilios.jpg" alt="Utensilios de un barbero.">
            <p>Ubicada en el corazón de la ciudad, la <strong>Barbería UniStyles</strong> trae para el mercado lo que hay de mejor para su cabello y barba. Fundada en 2023, la Barbería UniStyles ya es destaque en la ciudad y conquista nuevos clientes diariamente.</p>
            <p id="mision"><em>Nuestra misión es: <strong>"Proporcionar autoestima y calidad de vida a nuestros clientes"</strong>.</em></p>
            <p>Ofrecemos profesionales experimentados que están constantemente observando los cambios y movimiento en el mundo de la moda, para así ofrecer a nuestros clientes las últimas tendencias. El atendimiento posee un padrón de excelencia y agilidad, garantizando calidad y satisfacción de nuestros clientes.</p>
        </section>    
    <section class="contenido-centralizado">
        <h3 class="titulo-principal">Nuestra Ubicación</h3>
            <p>Nuestro establecimiento está ubicado en el corazón de la ciudad.</p>
            <div class="mapa-contenido">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7969.120575826275!2d-75.3080057!3d2.9418492!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b74f438bb0299%3A0x3d63073da14eebf7!2sUniversidad%20Surcolombiana%20-%20Sede%20Central!5e0!3m2!1ses-419!2sco!4v1696030452766!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
            
    </section>
    <section class="diferenciales">
    
        <h3 class="titulo-principal">Diferenciales</h3>
    
        <div class="contenido-diferenciales">
            <ul class="lista-diferenciales">
                <li class="items">Atención personalizada a los clientes</li>
                <li class="items">Espacio diferenciado</li>
                <li class="items">Localización</li>
                <li class="items">Profesionales calificados</li>
                <li class="items">Puntualidad</li>
                <li class="items">Limpieza</li>
            </ul><img src="IMAGENES/diferenciales.jpg" class="imagen-diferenciales">
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XLHjZCcIfmo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="container mt-4">
        <p>¿Aún no tienes cuenta?</p>
            <a href="registro.html" class="btn btn-primary">Regístrate aquí</a>      
            </div>
            
    </section>

    </section>
    <footer>
        <img src="IMAGENES/logo-footer.jpg">
            <p class="copyright">&copy Copyright Barbería UniStyles - 2023 </p>
    </footer>
    
    
</body> 
</html>

