<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Productos - Barbería Alura</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="stylesproductos.css">
        <script src="/js/inicio.js"></script>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'es', 
                    includedLanguages: 'en,es,fr,it,ca,de',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

       
    </head>
    <body>
        <div id="google_translate_element"></div>     
        <header>
            <div class="caja">
                <h1><img src="IMAGENES/logo.jpg"></h1>
                <nav>
                    <ul>
                        <li><a href="mainfinal.html">Home</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="login.html">Iniciar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            <ul class="productos">
                <li>
                    <h2>Cabello</h2>
                    <img src="imagenes/cabello.jpg">
                    <p class="producto-descripcion">Con tijera o máquina, a gusto del cliente</p>
                    <p class="producto-precio">$ 15000 COP</p>
                </li>
                <li>
                    <h2>Barba</h2>
                    <img src="imagenes/barba.jpg">
                    <p class="producto-descripcion">Corte y diseño profesional de barba</p>
                    <p class="producto-precio">$ 6000 COP</p>
                </li>
                <li>
                    <h2>Cabello + Barba</h2>
                    <img src="imagenes/cabello+barba.jpg">
                    <p class="producto-descripcion">Paquete completo de cabello y barba</p>
                    <p class="producto-precio">$ 20000 COP</p>
                </li>
            </ul>
        </main>

        <footer>
            <img src="IMAGENES/logo-footer.jpg">
            <p class="copyright">&copy Copyright Barbería UniStyles - 2023</p>
        </footer>
    </body>
</html>